.section {
  padding: 40px 0;
}

header {
  background: url("../images/hero-bg.jpg") no-repeat center center;
  background-size: cover;
  max-height: 400px;
  background-color: #f0f0f0;
  font-family: $Poppins;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  div {
    margin-bottom: -35px;
    z-index: 10;
    h2:nth-of-type(1) {
      width: 675px;
      color: white;
      font-size: 60px;
      padding: 20px 40px;
      background-color: $darkblue;
    }
    h2:nth-of-type(2) {

      color: white;
      font-size: 60px;
      padding: 20px 40px;
      background-color: $lightblue;
      margin-left: 35px;
    }
  }
}

// #about:after {
//   background-color: #C4CAD0;
//   bottom: 71%;
//   content: '';
//   display: block;
//   height: 120%;
//   left: -50%;
//   position: absolute;
//   transform: rotate(-45deg);
//   width: 100%;
// }

#about {
  position: relative;
  overflow: hidden;
  font-family: $OpenSans;
  font-size: 20px;
  color: rgb(74, 74, 74);

  &:before {
    background-color: $darkblue;
    content: '';
    display: block;
    height: 100%;
    left: -50%;
    position: absolute;
    top: 70%;
    transform: rotate(45deg);
    width: 100%;
  }

  .about-wrap {
    padding-top: 135px;
    padding-bottom: 135px;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-gap: 45px;
    .about-left {
      grid-column-start: 1;
      .about-links {
        font-family: $Poppins;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        a {
          text-decoration: none;
          letter-spacing: 1px;
          margin-top: 20px;
          color: $accent;
        }
      }
      .about-pic {
        position: relative;
        .about-pic-border {
          width: 273px;
          height: 273px;
          position: absolute;
          bottom: 7%;
          left: -18px;
          z-index: 2;
          border: 2px solid $accent;
          background: 0 0;
          -webkit-transition: -webkit-transform .2s cubic-bezier(.455,.03,.515,.955);
          transition: transform .2s cubic-bezier(.455,.03,.515,.955);
          &:hover {
            transform-origin: top right;
            transform: translate(-.75em,-.75em);
            transition: transform .2s cubic-bezier(.455,.03,.515,.955);
          }
        }
      }
    }
    .about-right {
      grid-column-start: 2;
      h3 {
        font-size: 26px;
        font-weight: 600;
        line-height: 34px;
      }
      p {
        line-height: 28px;
      }
    }
  }
}

#send-card {
  padding: 60px 0 80px 0;
  h1 { @include section-heading(); }
  #contact {
    max-width: 970px;
    margin: auto;
  }

  #contact p {
    text-align: center;
    font-family: $OpenSans;
    font-size: 16px;
    font-weight: 200;
    color: white;
  }

  #card {
    background: white;
    margin: auto;
    height: 400px;
    width: 650px;
    border: solid 3px black;
    position: relative;
  }

  #leftbox {
    float: left;
    width: 50%;
    overflow: hidden;
  }

  #rightbox {
    float: right;
    width: 50%;
  }

  textarea {
    margin: 20px;
    height: 275px;
    width: 285px;
    border: none;
    resize: none;
    font-size: 16px;
    font-family: $OpenSans;
    &:focus {
      outline: none;
    }
  }

  #send input {
    margin: 0 20px 20px 20px;
    height: 50px;
    width: 285px;
    text-align: center;
    background-color: #404040;
    color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: $OpenSans;
    letter-spacing: 2px;
    &:focus {
      outline: none;
    }
  }

  .line {
    margin-top: 10%;
    height: 340px;
    border-right: solid 1px black;
  }

  #input {
    padding-top: 180px;
    input {
      margin: 20px 20px 40px 30px;
      display: block;
      width: 265px;
      font-size: 16px;
      border: none;
      border-bottom: dotted 2px black;
      font-family: $OpenSans;
      &:focus {
        outline: none;
      }
    }
  }
}

@supports(clip-path: url("#angle-up-right")) {
  #about {
    padding-bottom: 90px;
  }
}

.clip-paths {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute!important;
  width: 1px;
}

#works {
  background-color: #f8f8f8;
  padding: 25px 0 75px 0;
  min-height: 1000px;
  position: relative;
  .works-wrapper {
    max-width: 1200px;
    width: 97%;
    margin: 0 100px auto;
    h1 { @include section-heading(); }
  }
}

@supports(clip-path: url("#angle-up-right")) {
  #works:before {
    background-color: #f8f8f8;
    clip-path: url("#angle-up-right");
    content: '';
    display: block;
    height: 120px;
    left: 0;
    position: absolute;
    top: -115px;
    width: 100%;
  }
}

#footer {
  background-color: #465164;
  color: #fff;
}

.section, .content {
  zoom: 1;
  position: relative;
}

.section:after, .content:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
}

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  min-width: 300px;
}

@media screen and (min-width: 760px) {
  #hero {
    // padding: 40px 40px 60px;
  }
}

@media screen and (min-width: 760px) {
  .content {
    width: 740px;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    width: 980px;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    width: 1000px;
  }
}
