.section {
  padding: 40px 0;
}

header {
  background: url("../images/hero-bg.jpg") no-repeat center center;
  background-size: cover;
  max-height: 400px;
  background-color: #f0f0f0;
  font-family: $Poppins;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  div {
    margin-bottom: -35px;
    z-index: 10;
    h2:nth-of-type(1) {
      width: 675px;
      color: white;
      font-size: 60px;
      padding: 20px 40px;
      background-color: #465164;
    }
    h2:nth-of-type(2) {

      color: white;
      font-size: 60px;
      padding: 20px 40px;
      background-color: #6194DF;
      margin-left: 35px;
    }
  }
}

#about:before {
  background-color: #465164;
  content: '';
  display: block;
  height: 100%;
  left: -50%;
  position: absolute;
  top: 70%;
  transform: rotate(45deg);
  width: 100%;
}

// #about:after {
//   background-color: #C4CAD0;
//   bottom: 71%;
//   content: '';
//   display: block;
//   height: 120%;
//   left: -50%;
//   position: absolute;
//   transform: rotate(-45deg);
//   width: 100%;
// }

#about {
  position: relative;
  overflow: hidden;
  font-family: $OpenSans;
  font-size: 20px;
  color: rgb(74, 74, 74);

  .about-wrap {
    padding-top: 135px;
    padding-bottom: 135px;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-gap: 45px;
    .about-left {
      grid-column-start: 1;
      .about-links {
        font-family: $Poppins;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        a {
          text-decoration: none;
          letter-spacing: 1px;
          margin-top: 20px;
          color: #7c0500;
        }
      }
      .about-pic {
        position: relative;
        .about-pic-border {
          width: 273px;
          height: 273px;
          position: absolute;
          bottom: 7%;
          left: -18px;
          z-index: 2;
          border: 2px solid #d00800;
          background: 0 0;
          -webkit-transition: -webkit-transform .2s cubic-bezier(.455,.03,.515,.955);
          transition: transform .2s cubic-bezier(.455,.03,.515,.955);
          &:hover {
            transform-origin: top right;
            transform: translate(-.75em,-.75em);
            transition: transform .2s cubic-bezier(.455,.03,.515,.955);
          }
        }
      }
    }
    .about-right {
      grid-column-start: 2;
      h3 {
        font-size: 26px;
        font-weight: 600;
        line-height: 34px;
      }
      p {
        line-height: 28px;
      }
    }
  }
}

@supports(clip-path: url("#angle-up-right")) {
  #about {
    padding-bottom: 90px;
  }
}

.about-space {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  border: 10px solid #000;
  color: #000;
  margin: 0 -20px 30px;
  overflow: auto;
  padding: 20px;
}

@media screen and (min-width: 480px) {
  .about-space {
    margin: 0 auto;
  }
}

@media(min-height: 600px) {
  .about-space {
    min-height: 420px;
  }
}

.clip-paths {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute!important;
  width: 1px;
}

#works {
  background-color: #f8f8f8;
  padding: 40px 0;
  min-height: 1000px;
  position: relative;
  .works-wrapper {
    max-width: 1200px;
    width: 97%;
    margin: 0 100px auto;
    h1 {
      font-family: $Poppins;
      text-align: center;
      font-size: 38px;
      color: #465164;
      padding: 15px 0 55px 0;
    }
  }
}

@supports(clip-path: url("#angle-up-right")) {
  #works:before {
    background-color: #f8f8f8;
    clip-path: url("#angle-up-right");
    content: '';
    display: block;
    height: 120px;
    left: 0;
    position: absolute;
    top: -115px;
    width: 100%;
  }
}

#footer {
  background-color: #465164;
  color: #fff;
}

.section, .content {
  zoom: 1;
  position: relative;
}

.section:after, .content:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
}

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  min-width: 300px;
}

@media screen and (min-width: 760px) {
  #hero {
    // padding: 40px 40px 60px;
  }
}

@media screen and (min-width: 760px) {
  .content {
    width: 740px;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    width: 980px;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    width: 1000px;
  }
}
