#send-card {
  padding: 60px 0 90px 0;
  h1 { @include section-heading(); }
  #contact {
    max-width: 970px;
    margin: auto;
  }

  #contact p {
    text-align: center;
    font-family: $OpenSans;
    font-size: 16px;
    font-weight: 200;
    color: white;
  }

  #card {
    background: white;
    margin: auto;
    height: 400px;
    width: 650px;
    border: solid 3px black;
    position: relative;
  }

  #leftbox {
    float: left;
    width: 50%;
    overflow: hidden;
    img {
      position: absolute;
      margin: 5px;
      max-width: 150px;
    }
  }

  #rightbox {
    float: right;
    width: 50%;
  }

  textarea {
    margin: 20px;
    height: 275px;
    width: 285px;
    border: none;
    resize: none;
    font-size: 16px;
    font-family: $OpenSans;
    &:focus {
      outline: none;
    }
  }

  #send input {
    margin: 0 20px 20px 20px;
    height: 50px;
    width: 285px;
    text-align: center;
    background-color: $lightblue;
    color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: $OpenSans;
    letter-spacing: 2px;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .line {
    margin-top: 10%;
    height: 340px;
    border-right: solid 1px black;
  }

  #input {
    padding-top: 120px;
    input {
      margin: 20px 20px 40px 30px;
      display: block;
      width: 265px;
      font-size: 16px;
      border: none;
      border-bottom: dotted 2px black;
      font-family: $OpenSans;
      &:focus {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: $main-break) {
  #send-card {
    h1 {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: $second-break) {
#send-card {
  #send {
    input {
      margin: 0;
      width: 317px;
    }
  }
  #input {
    input {
      margin-left: 0px;
    }
  }
  #contact {
    max-width: 970px;
    margin: 0 auto;
    #card {
      background: white;
      margin: 0 auto;
      height: auto;
      border: none;
      width: auto;
      position: relative;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        #rightbox {
          width: auto;
          textarea {
            border: 1px solid;
            margin: 10px 0 45px 0;
            padding: 15px;
          }
        }
        #leftbox {
          width: auto;
        }
      }
    }
    .line {
      border: none;
      height: auto;
    }

  }
}
}
