$lightblue: #6194DF;
$darkblue: #465164;
$accent: #ac0700;

$Poppins: 'Poppins', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;

// @font-face {
//   font-family: Futura;
//   src: url('../fonts/Futura-Bold.woff') format("WOFF");
// }

// @font-face {
//   font-family: Futura;
//   src: url('../fonts/Futura-Medium.woff') format("WOFF");
// }

// @font-face {
//   font-family: Futura;
//   src: url('../fonts/Futura-Bold.woff') format("WOFF");
// }

@mixin section-heading() {
  font-family: $Poppins;
  text-align: center;
  font-size: 38px;
  color: #465164;
  padding: 15px 0 55px 0;
}

@mixin article-heading() {
  font-family: $Poppins;
  text-align: center;
  font-size: 32px;
  color: #465164;
  padding: 15px 0 55px 0;
}

@mixin article-body() {
  font-family: $Roboto;
  text-align: center;
  font-size: 24px;
  line-height: 18px;
  color: #465164;
  padding: 15px 0 55px 0;
}

@mixin article-caption() {
  text-align: center;
  font-family: $Roboto;
  font-size: 14px;
  color: #a8a8a8;
}

//
// input[type="submit"] {
//   align-items: stretch;
//   text-align: left;
//   cursor: default;
//   color: buttontext;
//   background-color: buttonface;
//   box-sizing: border-box;
//   padding: 2px 6px 3px;
//   border-width: 2px;
//   border-style: outset;
//   border-color: buttonface;
//   border-image: initial;
// }

@import 'reset';
@import 'cubeportfolio';
@import 'works';
@import 'header';
@import 'about';
@import 'send-card';
@import 'footer';
